@import "../styles/variables";
@import "../styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container-member {
  max-width: 600px;
  margin: 15px auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: $base-color2;
  color: white;
  position: relative;

  h2 {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    @media (max-width: 576px) {
      font-size: 16px;
      padding: 0;
      margin: 5px !important;
    }
  }

  .formField {
    margin-bottom: 15px;
    @media (max-width: 576px) {
      margin-bottom: 5px;
    }

    label {
      display: block;
      font-size: 22px;
      font-weight: 600;
      color: white;
      background-color: $base-color2;
      margin-bottom: 5px; // ラベルとチェックボックスの間にスペースを追加
      @media (max-width: 576px) {
        font-size: 14px !important;
        margin-bottom: 2px;
      }
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      margin-left: 0;
      padding: 5px;
    }

    input {
      font-size: 20px !important;
      font-weight: 400 !important;
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      background-color: white; // 背景色を白に設定
      border: 1px solid #ccc; // 枠線を追加（必要に応じて）
      border-radius: 4px; // 角を丸くする（必要に応じて）
      @media (max-width: 576px) {
        font-size: 12px !important;
        padding: 2px;
      }
    }

    input[type="checkbox"] {
      margin-left: 40px;
      width: 22px;
    }

    button:hover {
      background-color: #0056b3;
    }
  }

  .close-button {
    position: absolute;
    right: 10px;
    top: 0;
    background: white !important;
    color: black;
    padding: 0 !important;
    // padding-bottom: 2px !important;

    width: 28px;
    height: 28px;
    font-size: 20px !important;
    text-align: center;
    cursor: pointer;
    margin-top: 8px;

    @media (max-width: 600px) {
      top: 6px;
      font-size: 14px !important;
      width: 18px;
      height: 22px !important;
    }
  }

  .kengen {
    display: flex;
    margin: 8px 0;
  }
}

.Container-member .member-edit-button {
  width: 60%;
  margin: 0 auto 20px !important;
  padding: 0 0 10px;
  background-color: white;
  color: $base-color2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  @include box-shadow;
  &.editing {
    background-color: rgb(243, 131, 57); // 編集モード中の背景色
    color: white; // 編集モード中の文字色
  }

  &:hover {
    background-color: #0056b3;
  }

  @media (max-width: 576px) {
    font-size: 12px !important;
    margin: 0 auto 10px !important;
    padding: 0;
  }
}

.Container-member .member-delete-button {
  width: 60%;
  margin: 0 auto 20px !important;
  padding: 0 0 10px;
  background-color: rgb(233, 165, 17);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  @include box-shadow;
  &.editing {
    background-color: rgb(243, 131, 57); // 編集モード中の背景色
    color: white; // 編集モード中の文字色
  }

  &:hover {
    background-color: #cc8463;
  }

  @media (max-width: 576px) {
    font-size: 12px !important;
    margin: 0 auto 10px !important;
    padding: 0;
  }
}
