@import "../styles/variables";
@import "../styles/mixins";

.container-reset {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  margin: 15px auto; /* Center horizontally and add top margin */

  @media (max-width: 600px) {
    margin-top: 20px; /* Reduce top margin for smaller screens */
  }
}

.container-reset .content {
  width: 100%;
  box-sizing: border-box;
  background-color: $base-color2;
  transition: 200ms;
  border-radius: 5px;
  @include box-shadow;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;

  p {
    width: 100%;
    text-align: center;
    margin: 10px 0 5px;
    font-size: 24px;
    color: white;
    font-weight: 600;

    @media (max-width: 600px) {
      font-size: 14px !important; /* Smaller font size for smaller screens */
      margin-top: 15px;
    }
  }
  .container-reset .content .form {
    background-color: aqua;
  }

  .login-button {
    background-color: white !important;
    color: $base-color2;
    width: 300px;
    text-align: center;
    border: none;
    border-radius: 5px;
    @include box-shadow;
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0;

    &:hover {
      background-color: $base-color2;
      color: $base-color;
      cursor: pointer;
      font-size: 25px;
    }

    &:active {
      transform: translateY(3px) translateX(3px);
      transition-duration: 100ms;
    }

    @media (max-width: 600px) {
      font-size: 14px; /* Smaller font size for smaller screens */
      font-weight: 600;
      width: 90%; /* Full width for smaller screens */
      margin: 10px 0;

      &:hover {
        background-color: $base-color2;
        color: $base-color;
        cursor: pointer;
        font-size: 21px;
      }

      &:active {
        transform: translateY(3px) translateX(3px);
        transition-duration: 100ms;
      }
    }
  }

  .login-input {
    background-color: white !important;
    color: $base-color2;
    width: 450px;
    border: none;
    font-size: 24px !important; /* Large font size */
    font-weight: 400;
    padding: 8px 0;
    border-radius: 5px;
    margin: 10px 20px 10px;
    @include box-shadow;

    @media (max-width: 600px) {
      font-size: 18px; /* Adjusted font size for smaller screens */
      font-weight: 600;
      max-width: 350px;
      padding: 0;
      width: 90%;
      margin: 10px 0;
    }
  }
}

.content2 {
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
  width: 100%; /* 親の幅を100%に設定 */
  position: relative; /* close-buttonの位置を調整するためにrelativeに設定 */

  .title:first-child {
    flex: 0 0 auto; /* メールアドレスの幅を自動に設定 */
  }

  .close-button2 {
    position: absolute; /* close-buttonを絶対位置に設定 */
    top: 3px;
    right: 10px; /* 親の右端からの距離を設定 */
    margin-top: 8px;
    background: white;
    color: black;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    font-size: 22px;
    cursor: pointer;

    @media (max-width: 600px) {
      margin-top: 5px;
      font-size: 12px !important;
      width: 20px;
      height: 18px;
      padding: 0 !important;
    }
  }
}
